In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
df=pd.read_csv('news.csv')

In [3]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
# checking if column have NaN values
nan_check=df.isnull()
print(nan_check)

          id  title  author   text  label
0      False  False   False  False  False
1      False  False   False  False  False
2      False  False   False  False  False
3      False  False   False  False  False
4      False  False   False  False  False
...      ...    ...     ...    ...    ...
20795  False  False   False  False  False
20796  False  False   False  False  False
20797  False  False   False  False  False
20798  False  False   False  False  False
20799  False  False   False  False  False

[20800 rows x 5 columns]

In [5]:
df = df.fillna(' ')

In [6]:
df['total'] = df['title'] + ' ' + df['text']
df.head()

,id,title,author,text,label,total
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

# PRE-PROCESSING OF THE DATA

In [7]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import sent_tokenize, word_tokenize

In [8]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/parijat/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/parijat/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/parijat/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
stop_words = stopwords.words('english')
lemmatizer = WordNetLemmatizer()

In [10]:
for index, row in df.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning the sentence with regex
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Stopwords removal
    words = [w for w in words if not w in stop_words]

In [11]:
# Lemmatization
for words in words:
    filter_sentence = filter_sentence + ' ' + str(lemmatizer.lemmatize(words)).lower()
    df.loc[index, 'total'] = filter_sentence
df.head()

,id,title,author,text,label,total
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

In [12]:
x_df = df['total']
y_df = df['label']
print(y_df)

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

# VECTORIZATION

In [13]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
count_vectorizer = CountVectorizer()
count_vectorizer.fit_transform(x_df)

<20800x181207 sparse matrix of type '<class 'numpy.int64'>'
	with 6925099 stored elements in Compressed Sparse Row format>

In [15]:
freq_term_matrix = count_vectorizer.transform(x_df)
tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)
print(tf_idf_matrix)

  (0, 154438)	0.008518519665415539
  (0, 154090)	0.04336817876947436
  (0, 154041)	0.010035163439360123
  (0, 154031)	0.01049803190451856
  (0, 152946)	0.03898709547432513
  (0, 152940)	0.08363261093769796
  (0, 152870)	0.033218446441686866
  (0, 152812)	0.012265183841400839
  (0, 152320)	0.02484918868801574
  (0, 152149)	0.02278577857790424
  (0, 151895)	0.00807138423553907
  (0, 151533)	0.036527711935948975
  (0, 151322)	0.007948352456800941
  (0, 151289)	0.024941382378512834
  (0, 151224)	0.02445898891014028
  (0, 150961)	0.015091106327766973
  (0, 150851)	0.011177253124866893
  (0, 150736)	0.025761693401647297
  (0, 150630)	0.012680752890730182
  (0, 150460)	0.06270857045897224
  (0, 150382)	0.010903052082116602
  (0, 150154)	0.054072693457595224
  (0, 149245)	0.025172671552187015
  (0, 149219)	0.018996216270066882
  (0, 149194)	0.015544598194438637
  :	:
  (20799, 6991)	0.01942849901132325
  (20799, 6987)	0.025271471572474287
  (20799, 6916)	0.028455296006309673
  (20799, 6833)	0.035161773017044054
  (20799, 6458)	0.011191007019024429
  (20799, 5612)	0.016692184071882495
  (20799, 5422)	0.03714047419325223
  (20799, 5387)	0.017477662571070973
  (20799, 5274)	0.03411405602053534
  (20799, 4847)	0.02114869647368989
  (20799, 4486)	0.012464648464169474
  (20799, 4468)	0.015695006615530277
  (20799, 3905)	0.03897072405176535
  (20799, 3792)	0.037565803949214154
  (20799, 3720)	0.042796642296665174
  (20799, 2691)	0.02793252032203734
  (20799, 2056)	0.017177950714417016
  (20799, 2005)	0.012940945229731436
  (20799, 1457)	0.01786154932706948
  (20799, 1451)	0.02496444625883588
  (20799, 1415)	0.019594432424321448
  (20799, 695)	0.03163089134937705
  (20799, 663)	0.042796642296665174
  (20799, 660)	0.031562862510227975
  (20799, 395)	0.012745735792601113

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,
y_df, random_state=33)

# Logistic Regression

In [18]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)

print(Accuracy*100)

95.32692307692308

# Naibe-Bayes

In [19]:
from sklearn.naive_bayes import MultinomialNB
NB = MultinomialNB()
NB.fit(x_train, y_train)
Accuracy = NB.score(x_test, y_test)
print(Accuracy*100)

83.88461538461539

# Decision Tree

In [20]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [21]:
Accuracy = clf.score(x_test, y_test)
print(Accuracy*100)

93.82692307692308

#  Passive-Aggressive Classifier

In [22]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(x_train,y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [23]:
#Predict on the test set and calculate accuracy
y_pred=pac.predict(x_test) 
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 97.35%